@import "../node_modules/font-awesome/css/font-awesome.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ba-yellow {
  color: rgb(247,217,61);
}

.ba-grey {
  color: rgb(208, 210, 211);
}

.ba-brown {
  color: rgb(151, 95, 53);
}

/*
* Backers färger
* GUL: PANTONE 7404 C	247	217	61	#F7D93D
* GRÅ: PANTONE 427 C	208	210	211	#D0D2D3
* BRUN: PANTONE 4635 C	151	95	53	#975F35
*/